body {
  margin: 0;
  padding: 0;
  background: white;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #535693;
}

h1, h2, h3, .nav-list {
  font-family: "Inter", sans-serif;
  color: #535693;
  margin: 0;
}
p {
    margin: 0;
}
html {
  scroll-behavior: smooth;
  }

  /* style for main box */
.wrapper {
  width: 100%;
  max-width: 850px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 16px solid #535693;
  border-right: 16px solid #535693;
  box-sizing: border-box;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}
h2 {
  font-weight: 600;
  font-size: 24px;
}
h3, .nav-list {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

/* style for links */
a {
  text-decoration: none;
  color: #535693;
  transition: 0,5s;
}
a:hover {
  text-decoration: underline;
}

/* style for HEADER */
.cv-header {
  display: flex;
  justify-content: space-between;
}
/* style for navigation */
.navigation {
  padding: 80px;
  padding-left: 40px;
  padding-right: 100px;
  margin: 0;
  height: fit-content;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: italic;
}

/* style for right-side */
.right-side {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 40px;
  height: fit-content;
  box-sizing: border-box;
  background: #E8E8E8;
}

/* style for name and photo */
.author-header {
  display: flex;
  justify-content: end;
  align-items: center;
}
.author-header-titles {
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 0;
  text-align: end;
}

.photo {
  border-radius: 50%;
}

/* style for Contacts */
.section-contacts {
  padding: 24px 0;
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contacts-list {
  display: flex;

}
.contacts-block {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts-block li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 0;
}
.icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;

}
/* style for summary */
.section-summary h2 {
  margin: 0 0 8px 0;
}

/* style for MAIN*/
main {

  margin-bottom: auto;
  padding-bottom: 24px;
}
.content-line {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 850px;
}
.content-line ul {
  padding: 0;
  margin: 0;
  padding-inline-start: 20px;
}
.content-line li {
  margin-bottom: 2px;
}

.section-skills, .section-soft-skills, .section-code, .section-projects, .section-education, .section-languages{
  display: flex;
  align-items: baseline;

}
.section-projects a {
  font-style: italic;
}
.section-skills p {
  margin-bottom: 6px; 
}
.section-skills .line-right-side {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.section-languages .second-level {
  padding-inline-start: 20px;
}

/* style for line */

.line-left-side {
  width: 30%;
  text-align: center;
  padding-left: 40px;

}

.dot-line {
  width: 14px;
  display: flex;
  justify-content: center;
  position: relative;
}

.dot-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 145%;
  width: 2px;
  height: 200px;
  background: #535693;
  z-index: 0;
} 

.dot {
  width: 14px;
  height: 14px;
  background-color: #535693;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  left: 100%;
  top: 0;
}

.line-right-side {
  width: 55%;
  padding-left: 80px;
  padding-right: 40px;
  margin: 0;
}

/* style for FOOTER*/
.cv-footer {
  z-index: 0;
  height: 60px;
  margin-top: 16px;
  padding: 0 40px 16px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #E8E8E8;
}

.footer-left {
  display: flex;
  height: fit-content;
  gap: 8px;
}

.footer-right {
  height: fit-content;
}

.github-link {
  display: flex;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/icons/github.png);
}
.rs-school-logo {
  display: flex;
  height: 45px;
  width: 121px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/rs-school-logo.svg);
}
